.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: yellow;
    margin: 0px auto;
    text-align: left;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    position: relative;
    top: 100px;
}

h3 {
    margin-bottom: 55px;
}

img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.backBtn {
    font-size: 18px;
    color: yellow;
    background-color: gray;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 20px;
    position: relative;
    top: -5px
}