.cardDiv {
    margin: 10px 0;
    width: 220px;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 0.7rem;
    position: relative;
}

.cardDiv img {
    border-radius: 20px 0px 0px 0px;
    -webkit-border-radius: 20px 0px 0px 0px;
    -moz-border-radius: 20px 0px 0px 0px;
    -ms-border-radius: 20px 0px 0px 0px;
    -o-border-radius: 20px 0px 0px 0px;
    position: relative;
    top: 3px;
}

.cardBtn {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 0px 0px 20px 0px;
    -webkit-border-radius: 0px 0px 20px 0px;
    -moz-border-radius: 0px 0px 20px 0px;
    -ms-border-radius: 0px 0px 20px 0px;
    -o-border-radius: 0px 0px 20px 0px;
}

.details h2 {
    font-weight: 500;
}
