.navBack {
    background-color: lightgray;
}

.navFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.buttonGroup button{
    margin-right: 60px;
}

.searchBar {
}